@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    background: #1A1A1A;
    color: #dfcdc3;
}

.main1, .main2, .main3, .main4{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    padding: 50px 8.3%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    Z-index: 100;
    background-color: #1A1A1A;
}

.navbar a{
    font-size: 18px;
    color: #dfcdc3;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.nav-btn:hover, .nav-btn.active{
    color: #719192;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    margin-left: 0px;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 27px;
    font-weight: 300;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    -webkit-animation: slideTop 1s ease forwards;
}

.home-content h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    -webkit-animation: slideTop 1s ease forwards;
}

.name-style {
    color:#719192;
}

.home-content h2 span{
    color:#60686A;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    -webkit-animation: slideTop 1s ease forwards;
}

.home-content p{
    font-size: 20px;
    text-align: justify;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    -webkit-animation: slideTop 1s ease forwards;
}

.topo-pic{
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    opacity: 0.2;
    filter: invert(53%) sepia(15%) saturate(443%) hue-rotate(133deg) brightness(100%) contrast(92%);

    mask-image: linear-gradient(#000, rgba(0,0,0,-2));
    -webkit-mask-image: linear-gradient(#000, rgba(0,0,0,-2));
}

.social-media {
    list-style: none;
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 2rem 0 0 -10px;
    padding: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    -webkit-animation: slideTop 1s ease forwards;
}

.social-media li{
    margin: 0 10px;
}

.social-media a{
    display: inline-flex;
    background: transparent;
    text-decoration: none;
    color: #dfcdc3;
}

.social-media a i{
    font-size: 1.6rem;
    transition: color .4s ease;
    -webkit-transition: color .4s ease;
    -moz-transition: color .4s ease;
    -ms-transition: color .4s ease;
    -o-transition: color .4s ease;
}

.social-media a:hover i{
    color: #719192;
}

.btn {
    border: none;
    display: inline-block;
    padding: 12px 28px;
    background: #719192;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #dfcdc3;
    letter-spacing: 1px;
    text-decoration: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin: 35px 15px 30px 0;
    cursor: pointer;
    background-size: 200%;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    text-decoration: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    -webkit-animation: slideTop 1s ease forwards;
}

.btn {
    background-image: linear-gradient(to left, #719192, #405658);
}

.btn:hover{
    background-position: right;
}

/* keyframes animation */
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
}}

.arrow{
    height: 40px;
    width: 40px;
    position: absolute;
    left: calc(50% - 15px);
    bottom: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    filter: invert(93%) sepia(11%) saturate(476%) hue-rotate(324deg) brightness(90%) contrast(93%);
    -webkit-filter: invert(93%) sepia(11%) saturate(476%) hue-rotate(324deg) brightness(90%) contrast(93%);
    animation: bounce 0.5s;
    -webkit-animation: bounce 0.5s;
}

/* (B) SIMPLE BOUNCE */
@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); }
}

.arrow {
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count:infinite;
}

.arrow:hover{
    filter: invert(57%) sepia(12%) saturate(588%) hue-rotate(133deg) brightness(94%) contrast(89%);
}

.profile {
    position: absolute;
    width: 18%;
    top: 295px;
    left: 300px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.main-content1 h3:nth-of-type(1) {
    margin-top: 150px;
    margin-left: 700px;
    font-size: 27px;
    font-weight: 1000;
}

.main-content1 h1 {
    font-size: 56px;
    font-weight: 700;
    margin-left: 700px;
    color: #719192;
}

.main-content1 p {
    font-size: 18px;
    text-align: justify;
    margin-left: 700px;
    margin-top: 45px;
    width: 800px;
    line-height: 25px;
}

.main-content1 a:link {
    font-size: 20px;
    text-decoration: none;
    color:#719192
}

.main-content1 a:visited{
    text-decoration: none;
    color:#719192
}

.main-content1 h3:nth-of-type(2) {
    margin-top: 50px;
    margin-left: 700px;
    font-size: 27px;
    font-weight: 1000;
    color: #719192;
}

.main-content1 .python-img, .scikit-img, .xgb-img, .flask-img, .streamlit-img, .mysql-img,
.mongodb-img {
    filter: invert(93%) sepia(11%) saturate(476%) hue-rotate(324deg) brightness(90%) contrast(93%);
    -webkit-filter: invert(93%) sepia(11%) saturate(476%) hue-rotate(324deg) brightness(90%) contrast(93%);
}

.main-content1 .python-img:hover, .scikit-img:hover, .xgb-img:hover, .flask-img:hover, 
.streamlit-img:hover, .mysql-img:hover, .mongodb-img:hover {
    filter: invert(57%) sepia(12%) saturate(588%) hue-rotate(133deg) brightness(94%) contrast(89%);
    -webkit-filter: invert(57%) sepia(12%) saturate(588%) hue-rotate(133deg) brightness(94%) contrast(89%);
}

.main-content1 .python-img{
    width: 3%;
    margin-left: 700px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.main-content1 .scikit-img{
    width: 4%;
    margin-left: 10px;
    margin-bottom: 15px;
}

.main-content1 .xgb-img{
    width: 4%;
    margin-left: 10px;
    margin-bottom: 20px;
}

.main-content1 .flask-img{
    width: 3%;
    margin-left: 10px;
    margin-bottom: 5px;
}

.main-content1 .streamlit-img{
    width: 5%;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.main-content1 .mysql-img{
    width: 4%;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.main-content1 .mongodb-img{
    width: 3%;
    margin-left: 10px;
    margin-bottom: 5px;
}
